<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flouka</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flouka</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>



	<key>LSApplicationQueriesSchemes</key>
        	<array>
            		<string>whatsapp</string>
            		<string>comgooglemaps</string>
                                    <string>baidumap</string>
                                    <string>iosamap</string>
                                    <string>waze</string>
                                    <string>yandexmaps</string>
                                    <string>yandexnavi</string>
                                    <string>citymapper</string>
                                    <string>mapswithme</string>
                                    <string>osmandmaps</string>
                                    <string>dgis</string>
                                    <string>qqmap</string>
                                    <string>here-location</string>
                                    <string>tomtomgo</string>
                                    <string>copilot</string>
                                    <string>com.sygic.aura</string>
                                    <string>nmap</string>
                                    <string>kakaomap</string>
                                    <string>tmap</string>
                                    <string>szn-mapy</string>
                                    <string>mappls</string>
            	</array>
        	<key>NSAppTransportSecurity</key>
            	<dict>
            		<key>NSAllowsArbitraryLoads</key>
            		<true/>
            	</dict>


                	<key>NSCameraUsageDescription</key>
                	<string>Flouka uses the camera so you can take photos for your profile and attach photos when chatting with other users about products or orders.</string>
                	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
                	<string>Flouka uses your location while you are using the app and, when enabled, in the background to provide continuous location updates during active deliveries or navigation.</string>
                	<key>NSLocationAlwaysUsageDescription</key>
                	<string>This app needs access to location when in the background to get nearby orders.</string>
                	<key>NSLocationWhenInUseUsageDescription</key>
                	<string>Flouka uses your location to help you select your pickup or delivery location, display nearby listings, and calculate distances accurately.</string>
                	<key>NSMicrophoneUsageDescription</key>
                	<string>Flouka uses the microphone so you can record and send voice messages while chatting with other users about products or orders.</string>
                	<key>NSPhotoLibraryUsageDescription</key>
                	<string>Flouka accesses your photo library so you can choose a profile picture and attach existing photos in chat messages about products or orders.</string>
                	<key>UIApplicationSceneManifest</key>
                	<dict>
                		<key>UISceneConfigurations</key>
                		<dict/>
                	</dict>

                	<key>UIBackgroundModes</key>
                	<array>
                		<string>fetch</string>
                		<string>remote-notification</string>
                	</array>

<key>AssociatedDomains</key>
		<array>
			<string>applinks:floka.zeroonez.com</string>
		</array>
		<key>FlutterDeepLinkingEnabled</key>
		<false/>



</dict>
</plist>
